*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore
**/build/
.gradle/
local.properties
*.iml
*.apk
*.aab
*.keystore
captures/
.externalNativeBuild/
.cxx/
